* {
    background-color: aqua;
    margin: 0px;
    font-family: "Gill Sans", sans-serif;
    font-variant: small-caps;
}

.content {
    display: flex;
    flex-direction: column;
    width: 90vw;
}

nav {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3%;
}

#root {
    display: flex;
    justify-content: space-evenly;
}

/* class for divs AllCampuses and AllStudents */
.all-students, .all-campuses {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.divInListing {
    margin: 2em;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
}

.divInListing, .divInListing * {
    background-color: rgb(255, 255, 255);
}

.divInListing * {
    margin: 8px;
}
.divInListing a {
    display: flex;
    align-items: space-around;
    justify-items: space-evenly;
}

.form {
    background-color: pink;
}

.column-list {
    background-color: peachpuff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

select, label, input {
    width: 60%;
    margin: 8px;
}

input#hasStudents, input#noStudents, input#none {
    width: 30px;
}

.form, .column-list {
    padding: 2em;
    width: 50%;
}

.all-campuses input {
    display: inline;
}

form {
    position: fixed;
    background-color: pink;
    margin-top: 1em;
    padding: 2em;
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

.column-list input {
    width: 50%;
}

.delete-button {
    background-color: maroon;
    color: white;
}

.all-campuses form {
    left: 15%;
}

.all-students form {
    right: 15%;
}